* {
    font-family: 'Poppins' sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #16112c;
    color: azure;
  
}

h1{

    text-align: center;
    margin: 100px auto 50px;
    font-weight: 600;
    
}

form{

    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    background: #333760;
    display: flex;
    align-items: center;
    border-radius: 8px; 
}

form input {
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    font-size: 18px;
    background: transparent;
    color: white;
    padding: 0 30px;  
}

form button {

    padding: 0 40px;
    height: 100%;
    border: 0; 
    outline: 0;
    font-size: 18px;
    color: white;
    background: red;
    border: 0;
    outline: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;  
}

::placeholder{

    color: white;
    font-size: 18px;
}

#show-more-btn{
    background: red;
    color: white;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px auto 100px;
    cursor: pointer;
    display: none;       
}

#search-result{

    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

#search-result img{
    width: 100%;
    height: 230px;
    border-radius: 5px;
}